:root{
  --warna-satu: #EBF7F8;#153361
}

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.0.8/font-awesome-animation.min.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
	font-family: "Poppins", sans-serif;
	height: 100vh;
	overflow: hidden;
	font-weight: 10;
	background-color: #649bbc;
}

.container {
	position: relative;
	min-height: 100vh;
	overflow: hidden;
}


.form-wrapper {
	width: 100%;
	max-width: 28rem;
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  right: 100%;
  height: 100vh;
  width: 300vw;
  transform: translate(35%, 0);
  background-image: linear-gradient(
    -45deg,
    var(--warna-satu) 100%,
    var(--warna-satu) 100%
  );
  transition: 1s ease-in-out;
  z-index: 6;
  border-bottom-right-radius: max(50vw, 50vh);
  border-top-left-radius: max(50vw, 50vh);
}

.container.sign-in::before {
  transform: translate(0, 0);
  right: 110%;
}

.overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #649BBC;
}

.box {
    position: absolute;
    width: 400px;
    background-color: #EBF7F8;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
}

.header {
    margin-left: 17%;
    margin-top: 4%;
    margin-bottom: -17%;
    background-size: cover;
    color: #153361;
    position: center; 
    border-radius: 15px 15px 0 0;
    font-weight: bold;
}

.header.h2 {
   position: center;
   margin-left: -30px;
   color: #153361;
}

.login-area {
    text-align: center;
    padding: 0px 50px 30px 50px;
}

.username {
    width: 100%;
    text-align: center;
    padding: 9px 0;
    border-radius: 0px;
    outline: none;
    border: none;
    color: #757575;
    background-color: #C4C4C4;
    margin-bottom: 15px;
	transition: 0.5s ease-in-out;
	transition-delay: 1s;
}

.username::placeholder {
    color: #757575;
}

.username {
    background-color: #D4D0D0;
}

.submit {
    width: 150px;
    padding: 8px 100px 8px 100px;
    background-color: rgba(1, 82, 157, 3);
    border-radius: 30px;
    font-weight: bold;
    color: white;
    border: none;
    outline: none;
    margin-top: -10rem;
    transition: .2s;
    cursor: pointer;
    box-shadow: 0 3px 3px 3px rgb(0, 0, 0, .2);
    font-size: 16px;
    text-decoration:none;
    position: center;
    margin-bottom: 10px;
}

.submit:hover {
    background-color: #120273;
}

img.tengah {
    display: block;
    padding: 20px 0px 0px 20px;
    margin-left:  35px;
	height: 200px;
    margin-bottom: 25px;
    margin-top: 70px;
    position: center;
}

h3 {
	color: #01529D;
	font-size: 22px;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 5%;
}

p {
	color: #01529D;
	font-size: 17px;
	position: center;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: justify;
}


.i {
	color: red;
}

.img f{
    display: block;
    margin-left:  100px;
	height: 200px;
    margin-bottom: -5px;
    margin-top: -5px;
    position: center;
}
}
