
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	overflow: hidden;
	background: #EBF7F8;
}

.wave {
	position: fixed;
	bottom: 0;
	left: 0px;
	height: 105%;
	z-index: -1;
	width: 104%;
}

.container {
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 7rem;
	padding: 0 2rem;
}

.img  {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.login-content {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
}

.img img {
	width: 500px;
	background: url(aa.png);
	background-size: 120%;
	background-position: center;
}

form {
	width: 400px;
	margin-top: -40px;
	background: white;
	border-radius: 1.5rem;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35);
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
}

.login-content img {
	height: 140px;
}

.login-content .input-div {
	position: relative;
	display: grid;
	grid-template-columns: 7% 93%;
	margin: 25px 0;
	padding: 5px 0;
	border-bottom: 2px solid #ADADAD;
	color: #757575;
}

.login-content .input-div.one {
	margin-top: 0;
}

.i {
	display: flex;
	justify-content: center;
	align-items: center;
}

.i i {
	transition: .3s;
	color: #ADADAD;
}

.input-div > div {
	position: relative;
	height: 45px;
}

.input-div > div > h5 {
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: #ADADAD;
	font-size: 18px;
	transition: .3s;
}

.input-div:before,
.input-div:after {
	content: '';
	position: absolute;
	bottom: -2px;
	width: 0%;
	height: 2px;
	background-color: #55A2C2;
	transition: .4s;
}

.input-div:before {
	right: 50%;
}

.input-div:after {
	left: 50%;
}

.input-div.focus:before,
.input-div.focus:after  {
	width: 50%;
}

.input-div.focus > div > h5 {
	top: -5px;
	font-size: 15px;
}

.input-div.focus > .i > i {
	color: #55A2C2;
}

.input-div > div > input {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	background: none;
	padding: 0.5rem 0.7rem;
	font-size: 1.2rem;
	color: #6B6A6A;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
}

.input-div.pass {
	margin-bottom: 4px;
} 

.w a {
	display: block;
	text-align: left;
	text-decoration: none;
	color: red;
	font-size: 0.9rem;
	transition: .3s;
	font-family: 'Poppins', sans-serif;
}

.w a:hover {
	color: #620000;
	text-decoration: none;
}

.x p {
	display: block;
	text-align: left;
	text-decoration: none;
	color: black;
	font-size: 0.9rem;
	transition: .3s;
	padding-top: 5px;
	font-weight: 500;
}

.x a {
	color: #01529D;
	text-decoration: none;
}

.x a:hover {
	color: #11026D;
}

.s {
	display: block;
	width: 100%;
	padding-top: 8px; 
	height: 50px;
	margin-top: 20px;
	border-radius: 25px;
	margin-bottom: 20px;
	outline: none;
	border: none;
	background-size: 200%;
	cursor: pointer;
	transition: .5s;
	background: #01529D;
	box-shadow: 5px 5px 14px rgba(0, 0, 0, 0.3);
}
.s a {
	font-size: 1.4rem;
	color: white;
	font-family: 'Poppins', sans-serif;
	position: center;
	padding-top: -900px;
	text-decoration: none;
	margin-top: 40px;
	font-weight: 900;
}

.s:hover {
	background-color: #053663;
}

@media screen anbd (max-width: 1050px) {
	.container {
		grid-gap: 5rem;
	}
}

@media screen and (max-width: 1000px) {
	form {
		width: 290px;
	}
	
	.img img {
		width: 400px;
	}
}

@media screen and (max-width: 900px) {
	.container {
		grid-template-columns: 1fr;
	}
	
	.img {
		display: none;
	}
	
	.wave {
		display: none;
	}
	
	.login-content {
		justify-content: center;
	}
}
