@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: "Poppins", sans-serif;
    background: #ebf7f8;
}

p {
    font-family: "Poppins", sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

/* ---------------------------------------------------
    MAINPAGE STYLE
----------------------------------------------------- */
.isi_page {
    width: 100%;
    padding-right: 40px;
    padding-left: 40px;
    margin-right: auto;
    margin-left: auto;
}

/* ---------------------------------------------------
    NAVBAR STYLE
----------------------------------------------------- */
a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

#sidebarCollapse {
    color: white;
    background-color: #649bbc;
    border: none;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.container-fluid {
    padding-left: 30px;
}
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #649bbc;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    height: 86px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 100px;
    background: #4b7296;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 20px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #649bbc;
    background: #fff;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
    color: #fff;
    background: #649bbc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #649bbc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 250px);
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#content.active {
    width: 100%;
}

.table-bordered {
    border: 2px solid black;
    background-color: #ebf7f8;
}

#tambah_data {
    background: #ef9441;
    border-radius: 5px;
    color: white;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    margin-left: 40px;
}

#action_tambahdata {
    background: #ef9441;
    border-radius: 5px;
    color: white;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    margin-left: 0;
}
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
}

/* ---------------------------------------------------
    filter STYLE
----------------------------------------------------- */
.dropdown #dropdownMenuLink {
    font-size: 18px;
    padding: 4px 10px 4px 10px;
    background: #f8f9fa;
    color: black;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.dropdown .dropdown-menu {
    background: #649bbc;
    border-radius: 10px;
    border: none;
}

.dropdown .dropdown-menu li a {
    color: white;
}
.dropdown .dropdown-menu :hover {
    color: #649bbc;
}
